* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  display: inline-block;
}

/* ------------------------ */
/* CONTAINERS */
/* ------------------------ */
.container {
  width: 120rem;
  margin: 0 auto;
}

.container--hero {
  max-width: 80rem;
  text-align: center;
}

.container--properties {
  background-color: #fff;
  position: relative;
  z-index: 999;
  width: 80rem;
  border-radius: 12px;
  box-shadow: 0 0rem 4.8rem rgba(0, 0, 0, 0.2);
  padding: 4.8rem 4.8rem;
  overflow: hidden;
  text-align: center;
}

.container--properties::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to bottom right, #8437fb, #2766f4);
}

.container--services {
  max-width: 110rem;
}

/* ------------------------ */
/* HEADINGS */
/* ------------------------ */
.heading-primary {
  font-size: 5.2rem;
  background-image: linear-gradient(to bottom right, #8437fb, #2766f4);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  letter-spacing: -3px;
}

.heading-secondary {
  font-size: 3.6rem;
  letter-spacing: -1.5px;
  font-weight: 600;
  margin-bottom: 4.8rem;
  color: #333;
}

.heading-secondary span {
  font-weight: 700;
}

.heading-tertiary {
  font-size: 3rem;
  color: #333;
  letter-spacing: -1.2px;
  margin-bottom: 3.2rem;
}

.subheading {
  font-size: 2rem;
  letter-spacing: -1.5px;
  font-weight: 600;
  background-image: linear-gradient(to bottom right, #8437fb, #2766f4);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.small-heading {
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  display: inline-block;
  /* letter-spacing: -0.75px; */
  margin-bottom: 1.2rem;
}

.heading-break-container {
  max-width: 65rem;
}

/* ------------------------ */
/* MARGINS */
/* ------------------------ */
.margin-bottom--sm {
  margin-bottom: 2.4rem;
}
.margin-bottom--md {
  margin-bottom: 4.8rem;
}
.margin-bottom--lg {
  margin-bottom: 6.4rem;
}

/* ------------------------ */
/* BUTTONS */
/* ------------------------ */
.btn:link,
.btn:visited {
  background-color: #8437fb;
  box-shadow: 0 0rem 4.8rem rgba(0, 0, 0, 0.15);

  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 100px;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
}

.btn:hover,
.btn:active {
  background-color: #7732e2;
}

/* ------------------------ */
/* GRIDS */
/* ------------------------ */
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 3.2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* ------------------------ */
/* LIST */
/* ------------------------ */

/* ------------------------ */
/* PARAGRAPH */
/* ------------------------ */
.paragraph {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #555;
}

.center-text {
  text-align: center;
}
