/* ---------------- */
/* BELOW 1344px (Smaller desktops) */
/* ---------------- */
@media (max-width: 84em) {
}

/* ---------------- */
/* BELOW 1200px (Landscape Tablets) */
/* ---------------- */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 105rem;
  }
  .container--services {
    max-width: 95rem;
  }
  .container--hero {
    max-width: 80rem;
  }
  .footer-logo img {
    width: 85%;
  }
}

/* ---------------- */
/* BELOW 944px (Tablets) */
/* ---------------- */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  /* CONTAINERS */
  .container {
    max-width: 90rem;
  }
  .container--services {
    max-width: 80rem;
  }
  .container--hero {
    max-width: 70rem;
  }
  .container--properties {
    max-width: 70rem;
    padding: 3.2rem 2.4rem;
  }
  /* GRID */
  .grid {
    column-gap: 3.2rem;
    row-gap: 3.2rem;
  }
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  /* HEADINGS */
  .heading-primary {
    font-size: 4.4rem;
  }
  .section-hero .heading-secondary {
    font-size: 2.4rem;
  }
  .heading-secondary {
    font-size: 3rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .subheading {
    font-size: 1.8rem;
  }
  /* TEXT */
  .paragraph {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  /* BUTTONS & LINKS */
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.4rem 2.8rem;
    font-size: 1.4rem;
  }
  /* NAVIGATION */

  /*  */
  .section-services {
    padding: 24.2rem 0 9.6rem 0;
    background-color: #f1f1f1;
    transform: translateY(-12rem);
  }
  .section-features .container:last-child {
    padding: 0 12.8rem;
    column-gap: 6.4rem;
  }

  .cta-text {
    padding: 2.4rem 4.8rem;
  }
  .section-cta .paragraph {
    font-size: 1.6rem;
    margin-bottom: 4.8rem;
  }
  /* MOBILE NAVIGATION */
  .navigation-header {
    padding: 0 3.2rem;
  }

  .main-navigation {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* transform: translateX(100%); */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* transition: all 0.5s ease-in; */
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 9999;
  }

  .mobile-nav-button {
    display: block;
    z-index: 9999;
  }

  .nav-open .main-navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .main-navigation ul {
    flex-direction: column;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .footer-logo img {
    width: 80%;
  }
}

/* ---------------- */
/* BELOW 704px (Smaller Tablets) */
/* ---------------- */
@media (max-width: 44em) {
  .grid-footer {
    grid-template-columns: repeat(6, 1fr);
    /* row-gap: 6.4rem; */
  }
  .nav-col {
    grid-column: span 2;
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
    grid-row: 2/3;
  }
  .container {
    /* max-width: 90rem; */
    max-width: 55rem;
  }
  .container--services {
    /* max-width: 80rem; */
    max-width: 55rem;
    grid-template-columns: 1fr;
  }
  .service-box:nth-child(2) {
    grid-column: 1 /2;
    height: 100%;
    grid-row: 2;
  }
  .container--hero {
    /* max-width: 70rem; */
    max-width: 65rem;
  }
  .container--properties {
    max-width: 55rem;
    /* padding: 3.2rem 2.4rem; */
  }
  .container--properties {
    max-width: 55rem;
    /* padding: 3.2rem 2.4rem; */
    text-align: start;
    line-height: 1.4;
  }
  .checkmark-icon {
    font-size: 3.2rem;
  }
  .subheading {
    display: block;
    text-align: center;
    margin-bottom: 1.2rem;
  }
  .heading-secondary {
    text-align: center;
  }
  .section-features .container:last-child {
    padding: 0 3.2rem;
    column-gap: 6.4rem;
  }
  .cta {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer .grid {
    row-gap: 8rem;
  }
  .footer-logo img {
    width: 80%;
  }
}

/* ---------------- */
/* BELOW 544px (Phone) */
/* ---------------- */
@media (max-width: 34em) {
  .container {
    max-width: 40rem;
  }
  .container--services {
    /* max-width: 80rem; */
    max-width: 40rem;
    grid-template-columns: 1fr;
  }
  .service-box:nth-child(2) {
    grid-column: 1 /2;
    height: 100%;
    grid-row: 2;
  }
  .container--hero {
    /* max-width: 70rem; */
    max-width: 40rem;
  }

  .container--properties {
    max-width: 35rem;
    /* padding: 3.2rem 2.4rem; */
    text-align: start;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .list-properties {
    margin: 0 auto;
    /* padding: 0 2.4rem; */
  }

  .properties-item {
    /* align-items: center; */
    /* flex-direction: row-reverse; */
    gap: 1.6rem;
    text-align: center;
    /* align-items: center; */
    width: 100%;
  }

  .properties-text {
    /* display: block
    ; */
    width: 100%;
    text-align: center;
  }

  .properties-item .checkmark-icon {
    /* display: none; */
  }

  .properties-item:first-child,
  .properties-item:nth-child(3) {
    justify-self: start;
  }
  .margin-right--sm {
    margin: 0 1.2rem !important;
    margin-bottom: 1.2rem !important;
  }
  .cta-text {
    padding: 2.4rem 1.6rem;
  }
  .cta-text .heading-secondary {
    text-align: left;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
}
