/* ------------------------ */
/* MAIN HEADER */
/* ------------------------ */
.navigation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 3.2rem;
}

.wolfdev-logo {
  width: 12.8rem;
}

.main-navigation ul {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  font-size: 1.8rem;
  align-items: center;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #8437fb;
}

.btn.btn--nav:link,
.btn.btn--nav:visited {
  padding: 1.2rem 2.4rem;
}

/* ------------------------ */
/* SECTION HERO */
/* ------------------------ */
.section-hero {
  padding: 9.6rem 0;
}

.section-hero .heading-secondary {
  font-size: 3rem;
}

/* ------------------------ */
/* SECTION PROPERTIES */
/* ------------------------ */
.heading-properties {
  max-width: 55rem;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.list-properties {
  list-style: none;
  column-gap: 3.2rem !important;
  row-gap: 1.6rem;
  color: #555;
}

.properties-item {
  display: flex;
  gap: 0.8rem;
  font-size: 1.8rem;
  width: 80%;
}

.checkmark-icon {
  font-size: 2.4rem;
  color: #8437fb;
}

.properties-item:first-child,
.properties-item:nth-child(3) {
  justify-self: end;
}

/* ------------------------ */
/* SECTION SERVICES */
/* ------------------------ */
.section-services {
  padding: 28.8rem 0 9.6rem 0;
  background-color: #f1f1f1;
  transform: translateY(-12rem);
}

.service-box {
  background-color: #e4e4e4;
  padding: 3.2rem 3.2rem;
  border-radius: 9px;
}

.process {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.process-reverse {
  grid-template-columns: 1fr 1fr;
}

.process-list {
  margin-left: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
  color: #555;
}

.process-item::before {
  content: "\2022";
  color: inherit;
  display: inline-block;
  width: 1.6rem;
}

.service-box:nth-child(2) {
  grid-column: 2 / -1;
  height: 100%;
  grid-row: 1 / 3;
}

.service-box:nth-child(2) img {
  margin-top: 3rem;
}

.service-img {
  padding-right: 2rem;
}

.service-img img {
  width: 100%;
  border-radius: 9px;
}

.languages {
  display: flex;
  justify-content: space-around;
}

.language-icon {
  color: #555;
  font-size: 4.8rem;
}

/* ------------------------ */
/* SECTION FEATURES */
/* ------------------------ */
